@media (max-width: 768px) {
  .menu__div {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 1002;
    display: block;
    display: flex;
    align-items: center;
  }
  .navbar__content {
    position: relative;
  }
  .menu__div img{
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
@media (max-width: 600px) {
  .navbar {
    height: 50px;
    flex-direction: column;
    padding: 20px 0;

  }
  .menu__div {
    display: block;
    margin-bottom: 10px;
  }
  .adv__content{
    align-items: center;
  }
  .adv__content img{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec__web__cart{
    align-items: center;
    padding: 50px 20px;
  }
  .sec__web__cart img{
    width: 50px;
  }

  .navbar__content {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-links a {
    font-size: 12px;
    margin: 0 8px;
    display: none;
  }
   .actions {
    flex-direction: column;
    gap: 6px;
    display: none;
  }

  .hero {
    height: auto;
    padding: 40px 20px;
    background-position: center;
  }

  .text-content h1 {
    font-size: 28px;
  }

  .text-content p {
    font-size: 14px;
  }

  .choose-btn {
    padding: 10px 20px;
    font-size: 14px;
  }

  .cards-container {
    gap: 20px;
    grid-auto-columns: 150px;
  }

  .footer__main {
    flex-direction: column;
    gap: 20px;
  }

  .footer__columns {
    flex-direction: column;
    gap: 20px;
    display: none;
  }

  .footer__bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .web__about__content {
    grid-template-columns: 1fr;
  }

  .adv__content {
    flex-direction: column;
    gap: 40px;
  }

  .img__dis {
    display: none;
    width: 100%;
  }

  .div__h4,
  .div__p {
    margin-left: 0;
    text-align: center;
  }

  .sec__web__cart {
    flex-direction: column;
    text-align: left;
  }
  .section__cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 200px;
    gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 10px;  
  }
}

@media (min-width: 601px) and (max-width: 991px) {
  .navbar {
    height: 55px;
  }

  .text-content h1 {
    font-size: 34px;
  }
   .adv__content img{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec__web__cart{
    align-items: center;
    padding: 20px;
  }
  .sec__web__cart img{
    width: 100px;
  }

  .text-content p {
    font-size: 15px;
  }

  .choose-btn {
    padding: 10px 22px;
    font-size: 15px;
  }

  .cards-container {
    grid-auto-columns: 180px;
  }

  .web__about__content {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .sec__web__cart {
    flex-direction: column;
  }

  .img__dis {
    width: 160px;
    top: 120px;
  }

  .div__h4,
  .div__p {
    margin-left: 100px;
  }

  .adv__content {
    flex-direction: column;
    gap: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cards-container {
    grid-auto-columns: 200px;
    gap: 30px;
  }

  .hero {
    background-position: center;
  }

   .adv__content img{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .sec__web__cart{
    align-items: center;
    padding: 20px;
  }
  .sec__web__cart img{
    width: 100px;
  }
  .web__about__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .sec__web__cart {
    padding: 30px 15px;
  }

  .img__dis {
    width: 200px;
    top: 120px;
  }

  .div__h4,
  .div__p {
    margin-left: 150px;
  }
}
